<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
      <add key="uploadUrl" value="~/Images/Upload"/>
    </appSettings>

  <connectionStrings>
    <!--  -->
    <add name="ConsultasDataConnStr" connectionString="Data Source=184.168.194.77;Initial Catalog=INICIATIVA;User ID=lasqueremos2;Password=@89Htl89mhj"/>
    <add name="ConsultasLoginConnStr" connectionString="Data Source=184.168.194.77;Initial Catalog=INICIATIVA;User ID=lasqueremos2;Password=@89Htl89mhj"/>
    
    <!--
    <add name="ClinicaDataConnStr" connectionString="Data Source=CLINICANIC.mssql.somee.com;Initial Catalog=CLINICANIC;User ID=daxruiz_SQLLogin_1;Password=447dwxpnw9"/>
    <add name="ClinicaLoginConnStr" connectionString="Data Source=CLINICANIC.mssql.somee.com;Initial Catalog=CLINICANIC;User ID=daxruiz_SQLLogin_1;Password=447dwxpnw9"/>
    -->
  </connectionStrings>


  <system.web>
      <customErrors mode="Off"/>
      <authentication mode="Forms">
        <forms loginUrl="Default.aspx" name=".ASPXFORMSAUTH"/>
      </authentication>

    <roleManager enabled="true" defaultProvider="RoleProvider">
      <providers>
        <add connectionStringName="ConsultasLoginConnStr" applicationName="ConsultaApp"
          name="RoleProvider" type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>

    <membership defaultProvider="SqlProvider">
      <providers>
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ConsultasLoginConnStr" enablePasswordReset="true" passwordFormat="Encrypted" requiresQuestionAndAnswer="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" applicationName="ConsultaApp"/>
      </providers>
    </membership>


    <machineKey validationKey="41A34E4B7BC8D13A3EF606FD05C12BDFBED25301162EE8A8EEB51772E09D2F918191467975D1B980221C00ECF1C7217BD475B2344AF75F68523B31A058101947" decryptionKey="802E4BC7D1E8760A790D09541D2D19DCBE68D61C1E77910A1AD9FFB860A64863" validation="SHA1" decryption="AES"/>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ConsultasLoginConnStr" applicationName="ConsultaApp"/>
      </providers>
    </profile>
    
      <compilation debug="true" targetFramework="4.5.1" />
      <httpRuntime targetFramework="4.5.1" />
    </system.web>
  
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>

</configuration>
